:root {
  --primary-color: #3B41E3;
  --secondary-color: #FF872E;
  --green-color: #1ABC9C;
  --white-color: #fff;
  --semi-white-color: #f8f5f1;
  --black-color: #333;
  --dark-gray-color: #888;
  --gray-color: #ddd;
  --primary-lighter-color: #575DFF;

  --highlight-font-size: 24px;

  --box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  --border: 1px solid rgba(0, 0, 0, .3);
  --border-primary: 1px solid var(--primary-color);
  --border-radius: 16px;
  --border-radius-xs: 8px;
  --border-radius-small: 12px;
  --border-radius-big: 24px;
  --border-radius-extra: 36px;
  --border-radius-form: 18px;
}

body {
  font-family: 'Poppins', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

a.link-default {
  color: var(--black-color);
}

a.link-default.active {
  font-weight: 600;
}

a.link-default:hover {
  filter: brightness(180%);
}

a.link-default.active:hover {
  filter: brightness(100%);
}

a.link-primary {
  color: var(--primary-color);
}

a.link-secondary {
  color: var(--secondary-color);
}

a.link-primary:hover, a.link-secondary:hover {
  color: var(--semi-white-color);
}

.text-highlight {
  color: var(--secondary-color);
}

.shadowed {
  box-shadow: var(--box-shadow);
}

.border-none {
  border: none !important;
}

/*! GO-Fund Button */
.btn-gofund {
  border-radius: 25px;
  color: var(--white-color);
  line-height: inherit;
}

.btn-gofund:hover {
  color: var(--semi-white-color);
}

.btn-gofund.primary {
  background-color: var(--primary-color);
}

.btn-gofund.secondary {
  background-color: var(--secondary-color);
}

.btn-gofund.outline {
  border-color: var(--white-color);
}

.btn-gofund.slim {
  padding: 4px 28px !important;
}

.btn-gofund.extra-slim {
  padding: 4px 64px !important;
}
/*! GO-Fund Button */

.form-gofund {
  border-radius: var(--border-radius-form);
}

.ava-thumbnail {
  display: inline-block;
  width: 90px;
  border: var(--border-primary);
  overflow: hidden;
  padding: 8px;
  margin-right: 12px;
  background-color: var(--white-color);
}

.ava-thumbnail > img {
  width: 72px;
}

.ava-thumbnail.small {
  width: 74px;
}

.ava-thumbnail.small > img {
  width: 56px;
}

.circles-wrapper {
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-lighter-color);
  border-radius: 50%;
}

.circle.layer-1 {
  width: 664px;
  height: 664px;
}

.circle.layer-2 {
  width: 600px;
  height: 600px;
}

.circle.layer-3 {
  width: 540px;
  height: 540px;
}

.circle.layer-4 {
  width: 480px;
  height: 480px;
}

.circle.layer-5 {
  width: 420px;
  height: 420px;
}

.circle.layer-6 {
  width: 360px;
  height: 360px;
}

/* ===== Custom ===== */
/* Login/Register */
.circles-wrapper.auth {
  top: 0;
  right: 0;
}

.circles-wrapper.auth > .circle.layer-1 {
  margin-top: -200px;
  margin-right: -200px;
}

/* Home */
.circles-wrapper.main {
  top: 0;
  right: 0;
}

.circles-wrapper.main > .circle.layer-1 {
  margin-top: -200px;
  margin-right: -200px;
}

/* Project */
.circles-wrapper.project {
  top: 0;
  right: 0;
}

.circles-wrapper.project > .circle.layer-1 {
  margin-top: -200px;
  margin-right: -300px;
}


/* ============================================================================================= */
/* ============================================================================================= */
/* ============================================================================================= */

nav.navbar {
  position: relative;
  z-index: 2;
}

.main-jumbotron {
  background-color: var(--primary-color);
  color: var(--white-color);
  margin-top: -88px;
  padding-top: calc(4rem + 58px);
  padding-bottom: 48px;
  border-radius: 0;
  position: relative;
  z-index: 0;
}

.main-jumbotron::after {
  content: "";
  background-color: var(--white-color);
  bottom: -72px;
  left: 0;
  height: 175px;
  width: 100%;
  position: absolute;
  transform: skewY(-4deg);
  z-index: -1;
}

.main-jumbotron.straight {
  height: 320px;
  overflow: hidden;
}

.main-jumbotron.straight::after {
  display: none;
}

.jumbotron-project-thumbnail {
  position: relative;
  z-index: 1;
}

.jumbotron-project-detail {
  position: relative;
  margin-left: -18px;
  margin-top: 42px;
  z-index: 0;
}

.jumbotron-perks {
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 24px 32px;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: 24px;
}

.jumbotron-perks h2 {
  font-size: 18px;
}

.jumbotron-perks ul {
  padding-inline-start: 27px;
  list-style: none;
  list-style-image: url("./../img/icon-checklist.svg");
  margin-bottom: 0;
  font-size: 14px;
}

.jumbotron-perks li:not(:last-child) {
  margin-bottom: 10px;
}

.jumbotron-profile {
  background-color: var(--white-color);
  color: var(--black-color);
  width: 100%;
  padding: 32px 64px;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  margin-left: -56px;
  box-shadow: var(--box-shadow);
}

.jumbotron-profile > .profile-avatar {
  margin-bottom: 16px;
}

.jumbotron-profile > .profile-rating > img {
  width: 24px;
}

.jumbotron-profile > .profile-id {
  margin-bottom: 6px;
}

.jumbotron-profile h3 {
  font-size: 24px;
  margin-bottom: 4px;
}

.jumbotron-profile h4 {
  font-size: 18px;
  font-weight: 200;
}

.jumbotron-profile > .profile-rating {
  margin-bottom: 12px;
}

.section-instruction {
  padding-top: 124px;
  margin-bottom: 182px;
}

.section-highlight {
  font-size: var(--highlight-font-size);
}

img.steps-illustration.center {
  margin-top: -96px;
}

img.steps-illustration.end {
  margin-top: -256px;
}

.section-projects {
  margin-bottom: 142px;
}

.project-card {
  /* display: flex; */
  width: 100%;
  /* height: 360px; */
  /* box-shadow:  */
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 16px 18px;
  margin-bottom: 32px;
  background-color: var(--white-color);
  color: var(--black-color);
}

.project-image {
  width: 100%;
  height: 220px;
  border-radius: 14px;
  border: var(--border);
  margin-bottom: 24px;
  background-size: cover;
}

.project-title > h1 {
  font-size: 26px;
}

.section-feedback {
  margin-bottom: 320px;
}

.feedback-container p {
  font-weight: 300;
  font-size: 32px;
}

.feedback-container h3 {
  font-weight: 200;
}

.section-prompt::before {
  content: "";
  display: block;
  width: 100%;
  height: 200px;
  background-color: var(--primary-color);
  transform: skewY(4deg);
  position: absolute;
  z-index: -1;
  margin-top: -112px;
}

.section-prompt {
  background-color: var(--primary-color);
  padding-bottom: 120px;

}

.prompt-text {
  line-height: 64px;
  color: var(--white-color);
}

.section-footer {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding-bottom: 156px;
}

.section-footer.straight {
  padding-top: 120px;
}

.footer-container {
  display: flex;
}

.footer-content.brand {
  max-width: 244px;
}

.footer-content.brand h3 {
  font-size: 18px;
  font-weight: 200;
}

h1.footer-title {
  font-size: 24px;
  margin-bottom: 26px;
}

.footer-content ul {
  list-style: none;
  padding-inline-start: 0;
  font-weight: 200;
}

.footer-content li {
  margin-bottom: 8px;
}

.section-content {
  min-height: 840px;
  margin-top: -198px;
  margin-bottom: 284px;
}

.content-highlight {
  margin-bottom: 36px;
}

.content-image-cover {
  padding: 10px;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  border: var(--border);
  margin-bottom: 14px;
}

.content-image-cover > .image-cover {
  width: 100%;
  height: 500px;
  border-radius: var(--border-radius);
}

.content-image-thumbnail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  column-gap: 12px;
}

.image-thumbnail-container {
  min-width: 120px;
  min-height: 140px;
  padding: 8px;
  border: var(--border);
  border-radius: var(--border-radius);
}

.image-thumbnail {
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.content-detail-container {
  background-color: var(--white-color);
  width: 100%;
  min-height: 480px;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 24px;
}

.content-detail-container > h2 {
  font-size: 16px;
  margin-bottom: 24px;
}

.content-detail-container > .content-detail-id {
  display: flex;
  margin-bottom: 24px;
}

.content-detail-container > .content-detail-id > .content-detail {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
}

.content-detail-container > .content-detail-id h3 {
  font-size: 20px;
}

.content-detail-container > .content-detail-id h4 {
  font-size: 16px;
  font-weight: 200;
}

.content-detail-perks h4 {
  font-size: 16px;
}

.content-detail-perks ul {
  list-style-image: url("./../img/icon-checklist.svg");
  padding-inline-start: 22px;
  font-size: 14px;
}

.content-detail-perks li {
  margin-bottom: 10px;
}

.content-detail-form input {
  margin-bottom: 10px;
}

.project-progress {
  margin-bottom: 24px;
}

.project-description > p {
  line-height: 28px;
}

section.section-dashboard, section.section-form {
  margin-top: -160px;
  margin-bottom: 120px;
  position: relative;
  z-index: 2;
}

/*! Table */
.table-container {
  background-color: var(--white-color);
  width: 100%;
  min-height: 200px;
  border-radius: var(--border-radius-xs);
  box-shadow: var(--box-shadow);
  margin-top: -200px;
  margin-bottom: 100px;
  padding: 38px 46px 72px 46px;
}

.table-nav {
  margin-bottom: 54px;
}

.table-nav > a.link-title {
  font-size: 24px;
  margin-right: 22px;
}

/* Table */
.table-gofund {
  width: 100%;
}

.table-gofund > thead th {
  padding-bottom: 18px;
  font-weight: 400;
  color: var(--dark-gray-color);
  font-size: 14px;
}

.table-gofund > thead th.fit-content {
  width: fit-content;
}

.table-gofund > thead th.table-number {
  width: 4%;
}

.table-gofund > tbody > tr {
  border-bottom: 1px solid var(--gray-color);
}

.table-gofund > tbody th, .table-gofund > tbody td {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table-gofund > tbody td.index {
  font-weight: 600;
}
/*! Table */