<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/cosmicgarden.css">

    <title>GO-Fund</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark py-4">
      <div class="container">
        <a class="navbar-brand" href="#">GO-Fund</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Success Stories</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link btn btn-gofund primary outline slim">Register</a>
            </li>
            <li class="nav-item ml-3">
              <a href="#" class="nav-link btn btn-gofund primary outline slim">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Jumbotron -->
    <div class="jumbotron main-jumbotron straight">
      
      <!-- The circle thingy -->
      <div class="circles-wrapper main">
        <div class="circle layer-1">
          <div class="circle layer-2">
            <div class="circle layer-3">
              <div class="circle layer-4">
                <div class="circle layer-5">
                  <div class="circle layer-6"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- The circle thingy -->
    </div>

    <!-- Content -->
    <section class="section-dashboard">
      <div class="container">
        <div class="cg-table">
          <div class="cg-table-header">
            <div class="cg-table-title">
              <span class="title-text"><a href="#" class="link-default active">Projects</a></span>
              <span class="title-text"><a href="#" class="link-default">Transactions</a></span>
            </div>
            <div class="cg-table-action">
              <a href="#" class="cg-btn cl-secondary">Create new</a>
            </div>
          </div>
          <table style="width: 100%;">
            <thead>
              <tr>
                <th>#</th>
                <th style="width: 20%;">Created at</th>
                <th style="width: 30%;">Project name</th>
                <th>Highlight</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td style="font-weight: 600;">24 Mar 2021</td>
                <td style="font-weight: 600;">Worldwide Uno Championship</td>
                <td>
                  <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped" style="width:40%"></div>
                  </div>
                  <div class="progress-detail d-flex justify-content-between">
                    <span><strong>40%</strong> <small>(28 backers)</small></span>
                    <span>Rp 10.000.000</span>
                  </div>
                </td>
              </tr>
              <tr>
                <th>2</th>
                <td style="font-weight: 600;">26 Mar 2021</td>
                <td style="font-weight: 600;">Help Us Restore The Elidan Empire</td>
                <td>
                  <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped" style="width:40%"></div>
                  </div>
                  <div class="progress-detail d-flex justify-content-between">
                    <span><strong>40%</strong> <small>(28 backers)</small></span>
                    <span>Rp 10.000.000</span>
                  </div>
                </td>
              </tr>
              <tr>
                <th>3</th>
                <td style="font-weight: 600;">14 Apr 2021</td>
                <td style="font-weight: 600;">The Mechanical Leg</td>
                <td>
                  <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped" style="width:40%"></div>
                  </div>
                  <div class="progress-detail d-flex justify-content-between">
                    <span><strong>40%</strong> <small>(28 backers)</small></span>
                    <span>Rp 10.000.000</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="section-footer straight">
      <div class="container">
        <div class="footer-container justify-content-between">
          <div class="footer-content brand">
            <h1 class="footer-title">GO-Fund</h1>
            <h3>Helps people execute their bright ideas.</h3>
          </div>
          <div class="footer-content explore">
            <h1 class="footer-title">Jelajahi</h1>
            <ul>
              <li>Layanan Kami</li>
              <li>Sistem Ekuitas</li>
              <li>Pengambilan Dana</li>
              <li>Shareholder</li>
            </ul>
          </div>
          <div class="footer-content investor">
            <h1 class="footer-title">Investor</h1>
            <ul>
              <li>Akun Saya</li>
              <li>Startups Terbaik</li>
              <li>Tutorial</li>
              <li>Withdrawal</li>
            </ul>
          </div>
          <div class="footer-content explore">
            <h1 class="footer-title">Office</h1>
            <ul>
              <li>+021 2208 1996</li>
              <li>KBP, Bandung</li>
              <li>No. 12 (GO-Fund)</li>
              <li>support@gofund.id</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
</html>