<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/cosmicgarden.css">

    <title>GO-Fund</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark py-4">
      <div class="container">
        <a class="navbar-brand" href="#">GO-Fund</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Success Stories</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link cg-btn mod-outline cl-hollow">Register</a>
            </li>
            <li class="nav-item ml-3">
              <a href="#" class="nav-link cg-btn mod-outline cl-hollow">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Jumbotron -->
    <div class="jumbotron main-jumbotron">
      
      <!-- The circle thingy -->
      <div class="circles-wrapper main">
        <div class="circle layer-1">
          <div class="circle layer-2">
            <div class="circle layer-3">
              <div class="circle layer-4">
                <div class="circle layer-5">
                  <div class="circle layer-6"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- The circle thingy -->

      <div class="container">
        <div class="row">
          <div class="col-5">
            <h1 class="display-5">Libatkan <strong class="text-highlight">Dirimu</strong> dalam mewujudkan <strong class="text-highlight">Impian</strong> mereka!</h1>
            <p class="lead mb-5">Danai ide terbaik untuk menjadi produk nyata dan jadilah kontributor.</p>
            <a class="cg-btn cl-secondary" href="#">Temukan Project</a>
          </div>
          <div class="col-7">
            <div class="row">
              <!-- Project thumbnail -->
              <div class="col-6 jumbotron-project-thumbnail">
                <div class="project-card shadowed border-none">
                  <div class="project-container">
                    <div class="project-image" style="background-image: url(./img/eren-mirror.jpg);"></div>
                    <div class="project-title">
                      <h1>Worldwide Uno Championship</h1>
                    </div>
                    <div class="project-highlight">
                      <p>
                        Creating robotic hand for better movement.
                      </p>
                    </div>
                    <div class="project-progress progress mb-2">
                      <div class="progress-bar progress-bar-striped" style="width:40%"></div>
                    </div>
                    <div class="project-detail d-flex">
                      <span class="mr-auto">40%</span>
                      <span>Rp 100.000.000</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Project thumbnail end -->
              <div class="col-6 jumbotron-project-detail">
                <div class="row">
                  <div class="col jumbotron-perks">
                    <h2>Why we fit for you:</h2>
                    <ul>
                      <li>Easy money transaction</li>
                      <li>Special services & products</li>
                      <li>Private equity shareholders</li>
                    </ul>
                  </div>
                  <div class="col">
                    <div class="jumbotron-profile">
                      <div class="profile-avatar d-flex justify-content-center">
                        <img src="./img/ava-1.jpg" class="cg-ava mod-sm mod-bordered mod-o cl-primary">
                      </div>
                      <div class="profile-id d-flex justify-content-center">
                        <div>
                          <h3>Julia Keeva</h3>
                          <h4>Project Manager</h4>
                        </div>
                      </div>
                      <div class="profile-rating d-flex justify-content-between">
                        <img src="./img/star.svg" alt="">
                        <img src="./img/star.svg" alt="">
                        <img src="./img/star.svg" alt="">
                        <img src="./img/star.svg" alt="">
                        <img src="./img/star.svg" alt="">
                      </div>
                      <div class="profile-detail d-flex justify-content-center">
                        <span class="mr-auto">5/5</span>
                        <span>208 Projects</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Instructions -->
    <section class="section-instruction">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <p class="section-highlight">Hanya butuh 3 langkah untuk menjalankan ide cemerlang Anda!</p>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex">
            <img class="mx-auto" src="./img/line-step.svg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-between">
            <img class="steps-illustration" src="./img/step-1-illustration.svg" alt="">
            <img class="steps-illustration center" src="./img/step-2-illustration.svg" alt="">
            <img class="steps-illustration end" src="./img/step-3-illustration.svg" alt="">
          </div>
        </div>
      </div>
    </section>

    <!-- Project List -->
    <section class="section-projects">
      <div class="container">
        <div class="row mb-3">
          <div class="col-6">
            <p class="section-highlight">
              Project baru yang bisa Anda kerjakan.
            </p>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <a href="#">Lihat semua</a>
          </div>
        </div>
        <div class="row">
          <!-- Project thumbnail -->
          <div class="col-4">
            <div class="project-card">
              <div class="project-container">
                <div class="project-image" style="background-image: url(./img/eren-mirror.jpg);"></div>
                <div class="project-title">
                  <h1>Worldwide Uno Championship</h1>
                </div>
                <div class="project-highlight">
                  <p>
                    Creating robotic hand for better movement.
                  </p>
                </div>
                <div class="project-progress progress mb-2">
                  <div class="progress-bar progress-bar-striped" style="width:40%"></div>
                </div>
                <div class="project-detail d-flex">
                  <span class="mr-auto">40%</span>
                  <span>Rp 100.000.000</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Project thumbnail end -->
          <!-- Project thumbnail -->
          <div class="col-4">
            <div class="project-card">
              <div class="project-container">
                <div class="project-image" style="background-image: url(./img/eren-mirror.jpg);"></div>
                <div class="project-title">
                  <h1>Robotic Hand</h1>
                </div>
                <div class="project-highlight">
                  <p>
                    Creating robotic hand for better movement.
                  </p>
                </div>
                <div class="project-progress progress mb-2">
                  <div class="progress-bar progress-bar-striped" style="width:40%"></div>
                </div>
                <div class="project-detail d-flex">
                  <span class="mr-auto">40%</span>
                  <span>Rp 100.000.000</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Project thumbnail end -->
          <!-- Project thumbnail -->
          <div class="col-4">
            <div class="project-card">
              <div class="project-container">
                <div class="project-image" style="background-image: url(./img/eren-mirror.jpg);"></div>
                <div class="project-title">
                  <h1>Robotic Hand</h1>
                </div>
                <div class="project-highlight">
                  <p>
                    Creating robotic hand for better movement.
                  </p>
                </div>
                <div class="project-progress progress mb-2">
                  <div class="progress-bar progress-bar-striped" style="width:40%"></div>
                </div>
                <div class="project-detail d-flex">
                  <span class="mr-auto">40%</span>
                  <span>Rp 100.000.000</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Project thumbnail end -->
          <!-- Project thumbnail -->
          <div class="col-4">
            <div class="project-card">
              <div class="project-container">
                <div class="project-image" style="background-image: url(./img/eren-mirror.jpg);"></div>
                <div class="project-title">
                  <h1>Robotic Hand</h1>
                </div>
                <div class="project-highlight">
                  <p>
                    Creating robotic hand for better movement.
                  </p>
                </div>
                <div class="project-progress progress mb-2">
                  <div class="progress-bar progress-bar-striped" style="width:40%"></div>
                </div>
                <div class="project-detail d-flex">
                  <span class="mr-auto">40%</span>
                  <span>Rp 100.000.000</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Project thumbnail end -->
          <!-- Project thumbnail -->
          <div class="col-4">
            <div class="project-card">
              <div class="project-container">
                <div class="project-image" style="background-image: url(./img/eren-mirror.jpg);"></div>
                <div class="project-title">
                  <h1>Robotic Hand</h1>
                </div>
                <div class="project-highlight">
                  <p>
                    Creating robotic hand for better movement.
                  </p>
                </div>
                <div class="project-progress progress mb-2">
                  <div class="progress-bar progress-bar-striped" style="width:40%"></div>
                </div>
                <div class="project-detail d-flex">
                  <span class="mr-auto">40%</span>
                  <span>Rp 100.000.000</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Project thumbnail end -->
          <!-- Project thumbnail -->
          <div class="col-4">
            <div class="project-card">
              <div class="project-container">
                <div class="project-image" style="background-image: url(./img/eren-mirror.jpg);"></div>
                <div class="project-title">
                  <h1>Robotic Hand</h1>
                </div>
                <div class="project-highlight">
                  <p>
                    Creating robotic hand for better movement.
                  </p>
                </div>
                <div class="project-progress progress mb-2">
                  <div class="progress-bar progress-bar-striped" style="width:40%"></div>
                </div>
                <div class="project-detail d-flex">
                  <span class="mr-auto">40%</span>
                  <span>Rp 100.000.000</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Project thumbnail end -->
        </div>
      </div>
    </section>

    <!-- Feedback -->
    <section class="section-feedback">
      <div class="container">
        <div class="row mb-5">
          <div class="col">
            <p class="section-highlight">
              Lihat apa yang dikatakan oleh klien kami.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-3 feedback-line text-right">
            <img src="./img/testimonial-line.svg" alt="" >
          </div>
          <div class="col-9 feedback-container">
            <div class="mb-5">
              <p>
                <q>Funding at Bucker is very easy and comfortable. Just need to find an idea, click, and already funding.</q>                
              </p>
            </div>
            <div class="mb-4">
              <h2>Shopie Nicole</h2>
              <h3>Project Manager</h3>
            </div>
            <div>
              <img src="./img/ava-1.jpg" class="mr-3 cg-ava mod-sm mod-bordered mod-o cl-primary">
              <img src="./img/ava-2.jpg" class="mr-3 cg-ava mod-sm mod-bordered mod-o cl-primary">
              <img src="./img/ava-3.jpg" class="mr-3 cg-ava mod-sm mod-bordered mod-o cl-primary">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Prompt line -->
    <section class="section-prompt">
      <h1 class="prompt-text text-center mb-5">
        Cara mudah untuk mendanai<br> ide dan inovasi terbaik
      </h1>
      <div class="d-flex justify-content-center">
        <a href="#" class="cg-btn cl-secondary">Mulai</a>
      </div>
    </section>

    <!-- Footer -->
    <footer class="section-footer">
      <div class="container">
        <div class="footer-container justify-content-between">
          <div class="footer-content brand">
            <h1 class="footer-title">GO-Fund</h1>
            <h3>Helps people execute their bright ideas.</h3>
          </div>
          <div class="footer-content explore">
            <h1 class="footer-title">Jelajahi</h1>
            <ul>
              <li>Layanan Kami</li>
              <li>Sistem Ekuitas</li>
              <li>Pengambilan Dana</li>
              <li>Shareholder</li>
            </ul>
          </div>
          <div class="footer-content investor">
            <h1 class="footer-title">Investor</h1>
            <ul>
              <li>Akun Saya</li>
              <li>Startups Terbaik</li>
              <li>Tutorial</li>
              <li>Withdrawal</li>
            </ul>
          </div>
          <div class="footer-content explore">
            <h1 class="footer-title">Office</h1>
            <ul>
              <li>+021 2208 1996</li>
              <li>KBP, Bandung</li>
              <li>No. 12 (GO-Fund)</li>
              <li>support@gofund.id</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
</html>