<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/cosmicgarden.css">

    <title>GO-Fund</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark py-4">
      <div class="container">
        <a class="navbar-brand" href="#">GO-Fund</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Success Stories</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link btn btn-gofund primary outline slim">Register</a>
            </li>
            <li class="nav-item ml-3">
              <a href="#" class="nav-link btn btn-gofund primary outline slim">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Jumbotron -->
    <div class="jumbotron main-jumbotron straight">
      <!-- The circle thingy -->
      <div class="circles-wrapper project">
        <div class="circle layer-1">
          <div class="circle layer-2">
            <div class="circle layer-3">
              <div class="circle layer-4">
                <div class="circle layer-5">
                  <div class="circle layer-6"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- The circle thingy -->
    </div>

    <!-- Content -->
    <section class="section-content">
      <div class="container">
        <div class="content-highlight">
          <div class="row">
            <div class="col-9 content-image-container">
              <div class="cg-carousel">
                <div class="carousel-display">
                  <img src="./img/project-image.jpg" alt="">
                </div>
                <div class="carousel-thumbnail-wrapper">
                  <div class="carousel-thumbnail mod-active">
                    <img src="./img/project-slider-1.jpg" alt="">
                  </div>
                  <div class="carousel-thumbnail">
                    <img src="./img/project-slider-2.jpg" alt="">
                  </div>
                  <div class="carousel-thumbnail">
                    <img src="./img/project-slider-3.jpg" alt="">
                  </div>
                  <div class="carousel-thumbnail">
                    <img src="./img/project-slider-4.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="row">
                <div class="content-detail-container">
                  <h2>Project Leader</h2>
                  <div class="content-detail-id">
                    <img src="./img/ava-1.jpg" class="cg-ava mod-xs mr-3">
                    <div class="content-detail">
                      <h3>Julia Keeva</h3>
                      <h4>209.000 backers</h4>
                    </div>
                  </div>
                  <div class="content-detail-perks">
                    <h4>What will you get</h4>
                    <ul>
                      <li>Equity of the startup directly from the founder</li>
                      <li>Special service or product that startup has</li>
                      <li>You can also sell your equity once the startup going IPO</li>
                    </ul>
                  </div>
                  <div class="content-detail-form">
                    <div>
                      <input class="form-control form-rounded form-gofund" type="text" placeholder="Amount in Rp">
                      <button class="cg-btn mod-form cl-secondary">
                        Fund Now!
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-description">
          <div class="row">
            <div class="col-8">
              <h1>Wireboard Fortune</h1>
              <p>Era terbaru untuk keyboard mekanik yang cocok untuk semua kalangan.</p>
              <div class="project-progress">
                <div class="project-progress progress mb-2">
                  <div class="progress-bar progress-bar-striped" style="width:40%"></div>
                </div>
                <div class="progress-detail d-flex justify-content-between">
                  <span>80%</span>
                  <span>Rp 40.000.000</span>
                </div>
              </div>
              <div class="project-description">
                <p>
                  Designed to fit your dedicated typing experience. No matter what you like, linear, clicky or a little in between, we’ve got you covered with three Gateron switches options (Blue, Brown, Red). With a lifespan of 50 million keystroke lifespan we want to make sure that you experience same feedback for every keystroke.
                </p>
                <p>
                  With N-key rollover (NKRO on wired mode only) you can register as many keys as you can press at once without missing out characters. It allows to use all the same media keys as conventional macOS. 
                </p>
                <p>
                  This keyboard can last up to 72 hours typing, or up to 9 days of normal use (8 hrs/day) with a 4000 mAh big battery.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Prompt line -->
    <section class="section-prompt">
      <h1 class="prompt-text text-center mb-5">
        Cara mudah untuk mendanai<br> ide dan inovasi terbaik
      </h1>
      <div class="d-flex justify-content-center">
        <a href="#" class="btn btn-gofund secondary extra-slim">Mulai</a>
      </div>
    </section>

    <!-- Footer -->
    <footer class="section-footer">
      <div class="container">
        <div class="footer-container justify-content-between">
          <div class="footer-content brand">
            <h1 class="footer-title">GO-Fund</h1>
            <h3>Helps people execute their bright ideas.</h3>
          </div>
          <div class="footer-content explore">
            <h1 class="footer-title">Jelajahi</h1>
            <ul>
              <li>Layanan Kami</li>
              <li>Sistem Ekuitas</li>
              <li>Pengambilan Dana</li>
              <li>Shareholder</li>
            </ul>
          </div>
          <div class="footer-content investor">
            <h1 class="footer-title">Investor</h1>
            <ul>
              <li>Akun Saya</li>
              <li>Startups Terbaik</li>
              <li>Tutorial</li>
              <li>Withdrawal</li>
            </ul>
          </div>
          <div class="footer-content explore">
            <h1 class="footer-title">Office</h1>
            <ul>
              <li>+021 2208 1996</li>
              <li>KBP, Bandung</li>
              <li>No. 12 (GO-Fund)</li>
              <li>support@gofund.id</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
</html>